* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecf0f3;
}

.form-container {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  width: 65%;
  /* Increased width for better spacing */
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 100%;
  margin-bottom: 15px;
}

label {
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 500;
  box-sizing: border-box;
  outline-color: #4caf50;
}

textarea{
font-weight: 400 !important;
font-size: 15px !important;
}


input,
textarea::placeholder {
  font-size: 15px;
  letter-spacing: .60px;
  font-weight: 400;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 6px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #3fc645;
}